@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

.calculator{
    width: 40%;
    color: #000080;
}

.heading h3{
    font-size: 25px;
    color:chocolate;
}

#message{
    font-size: 20px;
    color:chocolate;
}

.input-group{
    margin: 20px 0;
}

.input-group label{
    display: block;
}

.input-group input,
.input-group button,
.input-group select{
    width: 70%;
    padding: 12px;
    border: 1px solid chocolate;
    outline: none;
    border-radius: 5px;
}
.input-group button{
    background-color: #000080;
    color: white;
}

.result{
    box-shadow: 0px 0px 10px 3px #b9b9b9;
    width: 50%;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}